<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playground.batch.job.file.dao.FileDao">
    <select id="selectAll" resultType="com.playground.batch.job.file.model.TbFileDto">
        SELECT
			FILE_SN,
			ORGINL_FILE_NM,
			ORGINL_FILE_EXTSN_NM,
			STRE_FILE_NM,
			CNTNTS_TY_CN,
			FILE_CPCTY,
			FILE_ONE_ATRB_NM,
			FILE_TWO_ATRB_NM,
			FILE_THREE_ATRB_NM,
			REGIST_USR_ID,
			REGIST_DT,
			UPDT_USR_ID,
			UPDT_DT
		FROM
			TB_FILE
    </select>
</mapper>