<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TestMapper">
    <select id="selectAll" resultType="com.playground.batch.job.sample.model.TestDto">
        SELECT * FROM tb_smple
    </select>

     <select id="selectOne" resultType="com.playground.batch.job.sample.model.TestDto">
        SELECT * FROM tb_smple limit 1
    </select>

    <select id="selectByCodeId" resultType="com.playground.batch.job.sample.model.TestDto" parameterType="string">
        SELECT * FROM tb_code
        WHERE code_sn = ${codeSn}
    </select>

    <insert id="insert" parameterType="com.playground.batch.job.sample.model.TestDto">
        INSERT INTO tb_smple
			(
				smple_first_cn,
				smple_secon_cn,
				smple_thrd_cn,
				regist_usr_id,
				updt_usr_id
			)
		VALUES
			(
				${smpleFirstCn},
				${smpleSeconCn},
				${smpleThrdCn},
				'batch',
				'batch'
			)
    </insert>
</mapper>